extends ./layout/index
block contenido
  main.container.mt-5 
    .row
      .col-md-5
        img(src="/img/nosotros.jpg", alt="nosotros" ,class="img-fluid")
      .col-md-7
        h1 #{pagina}
        blockquote  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, asperiores dignissimos, eligendi eaque necessitatibus dolorem quod facilis maxime fugiat eveniet ducimus ab ea ex unde omnis doloremque impedit! A, mollitia!Quidem odit distinctio mollitia ipsum

        p fugiat eveniet ducimus ab ea ex unde omnis doloremque impedit! A, mollitia!Quidem odit distinctio mollitia ipsum, similique odio modi, quisquam reprehenderit deleniti ullam unde eaque? Officia nemo recusandae commodi? Aliquam corrupti tempora minima autem deleniti deserunt possimus illo fugit aspernatur exercitationem.

        p Esse, asperiores dignissimos, eligendi eaque necessitatibus dolorem quod facilis maxime fugiat eveniet ducimus ab ea ex unde omnis doloremque impedit! A, mollitia!Quidem odit distinctio mollitia ipsum, similique odio modi, quisquam reprehenderit deleniti ullam unde eaque?
  .listado-iconos
    .container.mt-5.py-5.text-center
      .row
        .col-md-4
          img(src="/img/icono_seguridad.svg", alt="security")
          h2.mb-4 Seguridad
          p dolorem quod facilis maxime fugiat eveniet ducimus ab ea ex unde omnis doloremque impedit! A, mollitia!Quidem odit distinctio mollitia ipsum
        .col-md-4
          img(src="/img/icono_destinos.svg", alt="security")
          h2.mb-4 Destinos
          p dolorem quod facilis maxime fugiat eveniet ducimus ab ea ex unde omnis doloremque impedit! A, mollitia!Quidem odit distinctio mollitia ipsum
        .col-md-4
          img(src="/img/icono_precios.svg", alt="security")
          h2.mb-4 Precios
          p dolorem quod facilis maxime fugiat eveniet ducimus ab ea ex unde omnis doloremque impedit! A, mollitia!Quidem odit distinctio mollitia ipsum